body {
    background: #f5f5f5;
    font-family: Arial;
    width: 500px;
    margin: auto;
}

h1 {
    text-align: center;
}

form {
    margin: 20px 0;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}
